<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="#!"> <img src="./assets/Wemoov_logo.svg"
                                                style="width: 185px;" alt="logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Accueil</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">A propos</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">Billetterie</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#!">Tous les évenements</a></li>
                        <li>
                            <hr class="dropdown-divider"/>
                        </li>
                        <li><a class="dropdown-item" href="#!">Événements sportifs</a></li>
                        <li><a class="dropdown-item" href="#!">Événements musicaux</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown2" href="#" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">Mon Compte</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Mon profil</a></li>
                        <li>
                            <hr class="dropdown-divider"/>
                        </li>
                        <li><a class="dropdown-item" href="/login">Déconnexion</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-6 fw-bolder">Votre accès privilégié à la culture, sans files d'attente numériques !</h1>
            <p class="lead fw-normal text-white-50 mb-0">Notre système performant gère facilement les afflux massifs
                d'utilisateurs, pour une réservation toujours réussie</p>
        </div>
    </div>
</header>
<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div *ngIf="listEvent.length !== 0"
             class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5" *ngFor="let event of listEvent">
                <div class="card h-100">
                    <button class="btn btn-sm text-white text-uppercase position-absolute"
                            data-bs-toggle="tooltip" data-bs-placement="top"
                            [title]="'Restant : '+event.remainingCapacity"
                            style="top: 0.5rem; right: 0.5rem;"
                            [ngClass]="event.remainingCapacity === 0 ? 'btn-danger' : event.remainingCapacity <= Math.floor(event.capacity * 0.25) ? 'btn-warning' : 'btn-primary'">{{getAvailabilityTag(event)}}</button>
                    <div *ngIf="isEventEndingSoon(event)"
                         class="badge bg-warning text-white text-uppercase position-absolute"
                         style="top: 0.5rem; left: 0.5rem">Se termine bientot
                    </div>
                    <div *ngIf="event.inSold" class="badge bg-danger text-white text-uppercase position-absolute"
                         style="top: 10.5rem; left: 0.5rem">PROMO
                    </div>
                    <!-- Product image-->
                    <img class="card-img-top" style="height: 200px" [src]="event.image" alt="..."/>
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h6 class="fw-bolder">{{event.name}}</h6>
                            <footer class="blockquote-footer m-1">Par {{event.organizer}} <cite
                                    title="Source Title">{{event.description}}</cite></footer>

                            <div class="d-flex justify-content-center small text-warning mb-2">
                                <ng-container *ngFor="let star of getStarArray(event)">
                                    <div [class]="star"></div>
                                </ng-container>
                                <div class="bi-star"></div>
                            </div>
                            <p *ngIf="(event.startDate | date: 'dd-MM-yyyy') === (event.endDate | date: 'dd-MM-yyyy')">
                                <em><strong> Le {{event.startDate | date: 'dd MMMM yyyy'}}</strong>
                                    à <strong>{{event.startDate | date: 'HH:mm'}}</strong> <br> {{event.address}}</em>
                            </p>
                            <p *ngIf="(event.startDate | date: 'dd/MM/yyyy') !== (event.endDate | date: 'dd/MM/yyyy')">
                                <em><strong>Du {{event.startDate | date: 'dd MMMM yyyy'}}</strong>
                                    <strong> au {{event.endDate | date: 'dd MMMM yyyy'}}</strong>
                                    à <strong>{{event.startDate | date: 'HH:mm'}}</strong> <br> {{event.address}}</em>
                            </p>
                            <h5><span *ngIf="event.inSold"
                                      class="text-muted text-decoration-line-through">{{event.price}}€</span></h5>
                            <h3><span class="badge bg-success">{{event.soldPrice}}€</span></h3>

                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <button class="btn btn-outline-dark mt-auto" type="button" data-bs-toggle="modal"
                                    data-bs-target="#reservationModal"
                                    (click)="selectEventForReservation(event)">Acheter
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h1 class="display-3" *ngIf="listEvent.length===0">Oups... Il n'y a aucun événements pour l'instant.</h1>
    </div>
</section>
<!-- Footer-->
<footer class="py-5 bg-dark">
    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Wemoov 2023</p></div>
</footer>
<!-- Modal pour la réservation -->
<div class="modal fade" id="reservationModal" role="dialog" tabindex="-1" aria-labelledby="reservationModelLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="reservationModelLabel">Réservation {{selectedEvent?.name}}</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"
                        (click)="cancelEventForReservation()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="reservationForm">
                    <div class="mb-3">
                        <label for="reservationDate" class="form-label">Date de la réservation</label>
                        <input type="date" [min]="(selectedEvent?.startDate | date: 'yyyy-MM-dd')"
                               [max]="(selectedEvent?.endDate | date: 'yyyy-MM-dd')" class="form-control"
                               id="reservationDate" formControlName="reservationDate">
                        <div class="alert alert-danger"
                             *ngIf="reservationDate && reservationDate.invalid && (reservationDate && reservationDate.dirty || reservationDate && reservationDate.touched)">
                            <div *ngIf="reservationDate && reservationDate.errors && reservationDate.errors['required']">
                                La date de réservation
                                est obligatoire.
                            </div>
                            <div class="alert alert-danger"
                                 *ngIf="reservationDate && reservationDate.errors && reservationDate.errors['dateInvalid']">
                                La date de
                                réservation doit être entre la date de début et de fin de l'événement.
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="numberOfPeople" class="form-label">Nombre de personnes</label>
                        <input type="number" class="form-control" id="numberOfPeople" formControlName="numberOfPeople"
                               min="1">
                        <div class="alert alert-danger"
                             *ngIf="numberOfPeople && numberOfPeople.invalid && (numberOfPeople.dirty || numberOfPeople.touched)">
                            <div *ngIf="numberOfPeople && numberOfPeople.errors && numberOfPeople.errors['required']">Le
                                nombre de personnes
                                est obligatoire.
                            </div>
                            <div class="alert alert-danger"
                                 *ngIf="numberOfPeople && numberOfPeople.errors && numberOfPeople.errors['min']">Le
                                nombre de personnes doit
                                être supérieur à 0.
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                        (click)="cancelEventForReservation()">Annuler
                </button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="createReservation()">
                    Confirmer
                </button>
            </div>
        </div>
    </div>
</div>